extends layout

block head
    script(src='/javascripts/dt/index.js')

block content
    div.jumbotron
        h2="稍微, 说点什么吧!"
        h2= test
        p
            div.input-group
                input#message.form-control(type="text", placeholder="点什么...")
                span.input-group-btn
                    button#post(class="btn btn-default", type="button")="Post"

    div(class="panel panel-default")
        div.panel-heading="其他人的话"
        div.panel-body
            ul.list-group#result
                each val in message
                    li.list-group-item= val
