doctype html
html
  head
    title= title
    link(rel='stylesheet', href='http://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='http://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.4.min.js')
    script(src='http://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js')
    
    block head
  body
    div.container
        div(class="header clearfix")
            nav
                ul(class="nav nav-pills pull-right")
                    li(role="presentation", class= page === "index" ? "active" : "")
                        a(href="/")="首页"
                    li(role="presentation", class= page === "draw" ? "active" : "")
                        a(href='/draw')="绘茶"
            h3.text-muted= title

        block content

        footer.footer
            p="© 2015 D-Touch."
            a(href="http://www.miitbeian.gov.cn/")="京ICP备15055059"

